.header{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: grey;
    color: white;
    margin-bottom: 20px;
}
.blueColor{
    color: blue;
}
.list{
    display: flex;
    gap: 25px;
    & .active{
        color: blue;
        text-decoration: underline;
    }
}